<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MXSearch</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>org.recipe.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecipeServlet</servlet-name>
    <servlet-class>org.recipe.servlet.RecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeServlet</servlet-name>
    <url-pattern>/recipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UniqueServlet</servlet-name>
    <servlet-class>org.recipe.servlet.UniqueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UniqueServlet</servlet-name>
    <url-pattern>/unique</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TasteServlet</servlet-name>
    <servlet-class>org.recipe.servlet.TasteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TasteServlet</servlet-name>
    <url-pattern>/tastes</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>FeatureServlet</servlet-name>
    <servlet-class>org.recipe.servlet.FeatureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeatureServlet</servlet-name>
    <url-pattern>/feature</url-pattern>
  </servlet-mapping>
</web-app>